.main-container {
    overflow: hidden;
  }
  
  .page-sections {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
  
  .page-sections > div {
    scroll-snap-align: start;
    height: 100vh;
  }
  
  .scroll-navigation {
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
  }
  
  .scroll-navigation a {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }
  
  .scroll-navigation a:hover {
    text-decoration: underline;
  }
  