.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1A1A29;
    padding-left: 108px;
    padding-right: 108px;
    padding-top: 15px;
    text-align: justify;
}
.experience{
    display: flex;
    flex-direction: column;
 
    gap: 5px;
}
.experience h1{
    font-weight: 700;
    font-size: 40px;
}
@media screen and (max-width: 768px) {
    .skills-container{
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-right: 20px;
      }
    .card{
        width: 100%;
        padding: 10px;
       
    }
    .card-content{
        padding: 10px;
    }
    .experience{
        padding: 15px;
    }
}