.footer{
    display: flex;
    flex-direction: row;
    background-color: #181824;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
@media screen and (max-width: 768px) {
    .footer{
        flex-direction: column;
        padding: 10px;
        width: 100%;
    }
}