.nav-items{
    display: flex;
    flex-direction: row;
    background-color: #181824;
    justify-content: space-between;
    align-items: center;
    padding-left: 28px;
    padding-right: 28px;
   
}
.logo{
    padding-left: 15px;
    color: #7562E0;
}
.nav-list{
    display: flex;
    flex-direction: row;
    background-color: #181824;
    padding-right: 15px;
    list-style: none;
    gap: 20px;

}